

<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
    

<mat-sidenav-container style="height: 600px">
  
  <mat-sidenav class="sideNav" 
    [disableClose]="true" [opened]='true'>

    <!-- <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngFor="let menu of menuItems">
        <span>{{menu}}</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
    </button> -->

    <mat-list>
      <a mat-list-item *ngFor="let menu of menuItems" href="#">{{menu}}
        <mat-list>
          <a mat-list-item href="#">SubMenu</a>
        </mat-list>
      </a>
     </mat-list>
  
  </mat-sidenav>

  <mat-sidenav-content 
    class="mainContent">Main</mat-sidenav-content>
</mat-sidenav-container>

