
<div class="mat-elevation-z10" fxLayout="column" fxLayoutGap="5px">

  <div class="mat-elevation-z10" fxLayout>

    <div>SUB CONTENT @</div>
    <div fxLayout="column">
      <div class="mat-elevation-z10" >
        <ul>
          <li *ngFor="let frm of myData">
            {{frm.doc}} {{frm.acct}} {{frm.form}}
          </li>
        </ul>
      </div>
      <div class="mat-elevation-z10" >Content 5</div>
    </div>
  
  </div>

  <div class="mat-elevation-z10">Footer content</div>

  <button mat-raised-button (click)="dataRefresh()">Refresh</button>
  
</div>
