
  <button>Regular Button</button>

  <h2>Material Buttons</h2>

  <button mat-button>Material Button</button><br>
  <button mat-raised-button color="accent">raised-button Button</button><br>
  <button mat-raised-button mat-icon-button>icon-button Button</button><br>
  <button mat-raised-button mat-fab>mat-fab Button</button><br>
  <button mat-raised-button mat-mini-fab>mat-mini-fab Button</button><br>
  <button mat-raised-button mat-stroked-button>mat-stroked-button Button</button><br>
  <button mat-raised-button mat-icon-button mat-flat-button>
    <mat-icon>home</mat-icon>mat-flat-button Button</button><br>
    <button mat-raised-button>
        <mat-icon>home</mat-icon>Button</button><br>
